.ad {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 20px 0px 20px;
    color: #17202A;
    font-family: 'Poppins', sans-serif;
}

.title {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #566573 ;
    color: white;
    margin: 0px 20px 0px 20px;
    padding: 10px 50px 10px 50px;
    font-family: 'Poppins', sans-serif;
    
}

